---
title: Westie Charts
---

<h1>
  Westie Charts - <%= year %>
</h1>

<iframe src="https://open.spotify.com/embed?uri=<%= playlist_id %>"
  class="playlist"
  frameborder="0" allowtransparency="true"></iframe>
